In [ ]:
!pip install ipython-sql

In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
import configparser

# Testing the ETL

### Connecting to the database

In [24]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

host        = config.get("DWH","dwh_endpoint")
user        = config.get("DWH","dwh_db_user")
password    = config.get("DWH","dwh_db_password")
port        = config.get("DWH","dwh_db_port")
dbname      = config.get("DWH","dwh_db")
schema      = config.get("DWH","dwh_schema")

In [27]:
%sql postgresql://$user:$password@$host:$port/$dbname

'Connected: ms-dw-admin@million-songs-warehouse'

### SongPlays

In [28]:
%sql  select count(*) from songsdwh.songplay

 * postgresql://ms-dw-admin:***@uda-songs-cluster.c5uyhoqmpoie.us-west-2.redshift.amazonaws.com:5439/million-songs-warehouse
1 rows affected.

[(8056,)]

In [29]:
%sql  select * from songsdwh.songplay limit(5)

 * postgresql://ms-dw-admin:***@uda-songs-cluster.c5uyhoqmpoie.us-west-2.redshift.amazonaws.com:5439/million-songs-warehouse
5 rows affected.

[(datetime.datetime(2018, 11, 1, 20, 57, 10, 796000), 39, 'free', None, None, '38', 'San Francisco-Oakland-Hayward, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(2018, 11, 1, 21, 55, 25, 796000), 26, 'free', None, None, '169', 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 1, 25, 34, 796000), 101, 'free', None, None, '184', 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 3, 32, 41, 796000), 86, 'free', None, None, '170', 'La Crosse-Onalaska, WI-MN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 9, 22, 43, 796000), 15, 'paid', None, None, '172', 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

### Artists

In [30]:
%sql  select count(*) from songsdwh.artists

 * postgresql://ms-dw-admin:***@uda-songs-cluster.c5uyhoqmpoie.us-west-2.redshift.amazonaws.com:5439/million-songs-warehouse
1 rows affected.

[(10025,)]

In [31]:
%sql  select * from songsdwh.artists limit(5)

 * postgresql://ms-dw-admin:***@uda-songs-cluster.c5uyhoqmpoie.us-west-2.redshift.amazonaws.com:5439/million-songs-warehouse
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('-100.30900000'), Decimal('25.67000000')),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', Decimal('-73.94800000'), Decimal('40.65500000')),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None)]

### Users

In [32]:
%sql  select count(*) from songsdwh.users

 * postgresql://ms-dw-admin:***@uda-songs-cluster.c5uyhoqmpoie.us-west-2.redshift.amazonaws.com:5439/million-songs-warehouse
1 rows affected.

[(97,)]

In [33]:
%sql  select * from songsdwh.users limit(5)

 * postgresql://ms-dw-admin:***@uda-songs-cluster.c5uyhoqmpoie.us-west-2.redshift.amazonaws.com:5439/million-songs-warehouse
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F'),
 (3, 'Isaac', 'Valdez', 'M'),
 (4, 'Alivia', 'Terrell', 'F'),
 (5, 'Elijah', 'Davis', 'M'),
 (6, 'Cecilia', 'Owens', 'F')]

### Time

In [34]:
%sql  select count(*) from songsdwh.time

 * postgresql://ms-dw-admin:***@uda-songs-cluster.c5uyhoqmpoie.us-west-2.redshift.amazonaws.com:5439/million-songs-warehouse
1 rows affected.

[(8023,)]

In [35]:
%sql  select * from songsdwh.time limit(5)

 * postgresql://ms-dw-admin:***@uda-songs-cluster.c5uyhoqmpoie.us-west-2.redshift.amazonaws.com:5439/million-songs-warehouse
5 rows affected.

[(datetime.datetime(2018, 11, 1, 20, 57, 10, 796000), 20, 1, 44, 11, 2018),
 (datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018),
 (datetime.datetime(2018, 11, 1, 21, 2, 12, 796000), 21, 1, 44, 11, 2018),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018),
 (datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, 1, 44, 11, 2018)]

### Songs

In [36]:
%sql  select count(*) from songsdwh.songs

 * postgresql://ms-dw-admin:***@uda-songs-cluster.c5uyhoqmpoie.us-west-2.redshift.amazonaws.com:5439/million-songs-warehouse
1 rows affected.

[(14896,)]

In [37]:
%sql  select * from songsdwh.songs limit(5)

 * postgresql://ms-dw-admin:***@uda-songs-cluster.c5uyhoqmpoie.us-west-2.redshift.amazonaws.com:5439/million-songs-warehouse
5 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, Decimal('153.364440')),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343.091790')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180.766889')),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263.993020')),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, Decimal('385.906490'))]